body {
  width: 100%;
  height: 100%;
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

.node { cursor: pointer; }

.offset {
  transition: stroke-dashoffset 3000ms ease;
  stroke-dashoffset: 100%;
}

