body {
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width:2;
  fill: none;
  pointer-events: none;
}

.node { cursor: pointer; }

.tooltip {
  position: absolute;
  text-align: center;
  border: 0px;
  border-radius: 8px;
}

.stateButtonDiv {
    position: absolute;
    text-align: center;   
}
